#webpwasm_panel {
    padding: 15px 0;
}

#webpwasm_panel h1 {
    margin-bottom: 30px;
}

#webpwasm_panel hr {
    margin: 10px 0;
}

.webpwasm--hidden {
	display: none;
}
.webpwasm--not-supported {
	color: red;
}

.webpwasm_notice {
    color: orangered;
}

.webpwasm_panel_quality {
    width: 70px;
}

.webpwasm_generate_section, .webpwasm_restore_section, #webpwasm_log {
    background-color: white;
    border-radius: 4px;
    padding: 10px 15px 15px;
}

/* Generate section */
.webpwasm_generate_section_title {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.wp-core-ui .webpwasm_button_generate {
    font-size: 18px;
    margin-top: 20px;
    padding: 5px 20px;
    transition: all 250ms;
}

.webpwasm_settings_section {
    padding: 10px 0;
}

.webpwasm_generate_section h3 {
    font-size: 14px;
}

/* Restore section*/
.webpwasm_restore_section_title {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.wp-core-ui .webpwasm_button_delete {
    margin-top: 10px;
    transition: all 250ms;
}

/* List */
#webpwasm_log li.completed {
    color: darkgreen;
}

#webpwasm_log:empty {
    display: none;
}